.events {
    display: block;
    margin: 0;
    padding: 0 10px;
}

.events__item {
    position: absolute;

    padding: 0;
    box-sizing: border-box;

    display: block;
    overflow: hidden;
}

.events__item-wrap {
    box-sizing: border-box;
    padding: 10px;
    background-color: rgb(242, 242, 242);
    border-left: 6px solid rgb(67, 166, 123);
    border-radius: 2px;
}

.events__item-headline {
    margin: 0;
    color: rgb(67, 166, 123);
}

.events__item-location {
    margin: 0;
    color: rgb(184, 184, 184);
    font-weight: normal;
}
